.sph_card_container {
    background-color: #282939;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    
    .sph_image {
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .sph_nickname {
        margin-top: 30px;
        margin-left: 20px;
    }

    .sph_btn {
        display: flex;
        width: 90%;
        height: 15%;
        margin-left: 5%;
        margin-top: 35%;
        justify-content: right;

        &_details {
            margin-right: 3%;
            width: 40%;
            border-radius: 10px;
            text-align: center;
            padding-top: 15px;
            box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.3);
        }

        &_details:hover {
            background-color: rgba(217, 84, 43, 0.1);
            color: #d9422f;
        }
    }
}
